<app-header></app-header>
<button (click)="redirectToRegister()">GO TO REGISTER PAGE</button>

&nbsp;&nbsp;&nbsp;

<button (click)="logout()">Logout</button>

<div class=" content" style="background-color: rgb(245, 179, 236);">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card"
                style="background-color: #ffffff; margin-bottom:50px; margin-top: 50px; margin-left: auto;margin-right: auto;width: 400px; border: 5px double #1C6EA4;border-radius: 10px 10px 10px 10px; padding:15px; padding-bottom: 0px;">
                <div class=" card-header">
                    <h6 style="text-align: center;">
                        This Is <h1>MAIN</h1> page
                        HI {{username}}
                    </h6>
                </div>
                
            </div>
        </div>
    </div>
</div>