
<div class=" content" style="background-color: rgb(179, 245, 182);">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card" style="background-color: #ffffff;margin-bottom: 50px; margin-top: 50px; margin-left: auto;margin-right: auto;width: 400px; border: 5px double #1C6EA4;border-radius: 10px 10px 10px 10px; padding:15px; padding-bottom: 0px;">
                <div class=" card-header">
                    <h2 style="text-align: center;">
                        
                    </h2>
                    <h2 style="text-align: center;font-weight: 500; color: black;">
                        Tornado 3.0
                    </h2>
                </div>
                <div class=" card-body" style="padding-bottom: 0px;">
                </div>
                <div class=" card-footer" style=" padding: 0px;">
                    <h5 style="float: right; font-size: 10px;font-weight: bold; color: black;">Version 3.0</h5>
                </div>
            </div>
        </div>
    </div>
</div>
