<app-header></app-header>
<button (click)="redirectToMain()">GO TO MAIN PAGE</button>

&nbsp;&nbsp;&nbsp;

<button (click)="loadListingContent()">AUTOLOAD</button>
<button (click)="loadabc()" style="background-color: deepskyblue;">LOAD ABC</button>
<button (click)="loaddef()" style="background-color: deepskyblue;">LOAD DEF</button>
<button (click)="loadxyz()" style="background-color: deepskyblue;">LOAD XYZ</button>

&nbsp;&nbsp;&nbsp;

<button (click)="logout()">Logout</button>

<div class=" content" style="background-color: wheat;">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card"
                style="background-color: #ffffff; margin-bottom:50px; margin-top: 50px; margin-left: auto;margin-right: auto;width: 400px; border: 5px double #1C6EA4;border-radius: 10px 10px 10px 10px; padding:15px; padding-bottom: 0px;">
                <div class=" card-header">
                    <h6 style="text-align: center;">
                        This Is <h1>REGISTER</h1> page 
                    </h6>
                </div>
            </div>
            Data from Backend: {{testingname}}
            <br/>
            <br/>
            <h4 style="color: red;">{{message}}</h4>
        </div>
    </div>
</div>

&nbsp;&nbsp;&nbsp;

<div class=" content">
    <div class=" row">
        <div class=" col-12">
            <div class=" card card-chart">
                <div class=" card-header">
                    <div class=" row">
                        <div class=" col-sm-6 text-left">
                            <h5 class=" card-category">
                                Reports:
                            </h5>
                            <h2 class=" card-title">
                                Tornado Report
                            </h2>
                        </div>
                    </div>
                </div>
                <div class=" card-body" style="overflow: overlay !important; padding: 11px !important;">
                    <script type='text/javascript' src='https://test-tableau.5flow.net/javascripts/api/viz_v1.js'></script>
                    <div id="makeIframeCenter" style="width:1350px; margin-left:auto; margin-right:auto;">
                        <iframe id="tableauIframe" style="padding:10px; border:0px;" src='https://test-tableau.5flow.net/t/Tornado/views/TornadoReport/Story1?:showAppBanner=false&:display_count=n&:showVizHome=n&:origin=viz_share_link&:embed=yes&:tooltip=yes&:showVizHome=no&:tabs=no&:toolbar=yes&:customViews=no&:showShareOptions=false'
                            width="1350px" height="800px">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>